[buildout]
develop = .
parts = java-dependencies test py
prefer-final = true
eggs = fcrepo

[java-dependencies]
recipe = hexagonit.recipe.download
md5sum = 5c8d79c4f576e38f745642276bb5a46c
url = http://downloads.sourceforge.net/project/fedora-commons/fedora/3.3/fcrepo-installer-3.3.jar
ignore-existing = true
download-only = true

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['-v']

[py]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

